
/***
    Media Screens
***/


@media only screen and (max-width: 950px) {

    .two-body-grid{

        grid-template-columns: auto !important;
        margin: 0 auto;
        max-width: 700px;

        .tw-child-grid{
            &:nth-child(1){
                &:after{
                    display: none;
                }
            }
        }

        .img-book-wrapper{
            text-align: center;
            img{
                max-width: 58% !important;
            }
        }
    }

    .navigation{
        padding: 6% 0 !important;
    }

    #id-heading-layout,
    #grid-author-content{
        grid-template-columns: auto !important;
    }

    .body-wrapper{
        height: 100% !important;
    }

    .slick-list{
        width: 100% !important;
    }
    
    #desktop-nav{
        display: none;
    }

    #non-active-hamburger{
        display: flex !important;
    }

    .body-book-contents-wrapper{
        margin: 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .grid-author-content{
        grid-template-columns: auto;
        margin: 0 10%;
    }
    
    .book-info-ft,
    .columns-grid-parent{
        grid-template-columns: auto !important;
    }

    #book--containers,
    #contact--form-containers{
        margin: 0 10%;
    }

    .author-section{
        margin: 0 10% !important;
    }

    .img-component-wrapper{
        order:1 !important;
    }
    .body-content-elements{
        order:2 !important;
    }

    .footer-grid,
    #lower-footer{
        grid-template-columns: auto !important;
    }

    .footer-nav{
        padding: 0% !important;
    }

    .footer-container,
    .form-newsletter-wrapper{
        text-align: center;
    }

    .social-media-nav{
        ul{
            text-align: center !important;
            max-width: 100% !important;
        }
    }

    #metalinks-footer{
        margin-top: 31px;
    }
}


@media only screen and (max-width: 710px) {
    .slick-slider{
        margin:0 auto !important;
    }
}

@media only screen and (max-width: 650px) {
    .content-slider-wrapper{
        max-width: 450px !important;
        overflow: unset !important;
    }
    .booklinkBlocks{
        flex-direction: column !important;
        span{
            margin: 2% !important;
        }

        li{
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: 100%;
            background: #353a3f;
            margin: 2% 0 !important;
            padding: 10px;
            padding: 3% 0 !important;
        }
    }

}

@media only screen and (max-width: 550px) {
    .content-slider-wrapper{
        max-width: 210px !important;
        overflow: hidden !important;
    }

    .h-active-nav li{
        font-size: 1.5em;
    }

}